name: Test ubicloud image

on:
  push:
    branches: [ test-big-cache ]

env:
  FILENAME: 1GB.bin

jobs:
  save:
    runs-on: ubicloud-standard-4
    steps:
      - name: download hetzner test file
        run: |
          sudo apt-get update && sudo apt-get install -y aria2
          aria2c -x 10 "https://fsn1-speed.hetzner.com/${{ env.FILENAME }}"
      - uses: ubicloud/cache/save@v4
        with:
          path: ${{ env.FILENAME }}
          key: cache-${{ env.FILENAME }}-${{ github.run_id }}
      - name: Print cache proxy logs
        if: always()
        run: sudo cat /var/log/cacheproxy.log

  restore:
    needs: save
    strategy:
      matrix:
        index: [1, 2, 3, 4, 5]
    runs-on: ubicloud-standard-4
    name: restore ${{ matrix.index }}
    steps:
      - uses: ubicloud/cache/restore@v4
        with:
          path: ${{ env.FILENAME }}
          key: cache-${{ env.FILENAME }}-${{ github.run_id }}
      - name: Print cache proxy logs
        if: always()
        run: sudo cat /var/log/cacheproxy.log
