name: Test ubicloud image

on:
  push:
    branches: [ test-big-cache ]

jobs:
  save:
    runs-on: ubicloud
    steps:
      - name: download hetzner test file
        run: wget https://fsn1-speed.hetzner.com/100MB.bin -O 100MB.bin
      - uses: actions/cache/save@v5
        with:
          path: 100MB.bin
          key: cache-${{ github.run_id }}
      - name: Print cache proxy logs
        if: always()
        run: sudo cat /var/log/cacheproxy.log

  restore:
    needs: save
    strategy:
      matrix:
        index: [1, 2, 3, 4, 5]
    runs-on: ubicloud
    name: restore ${{ matrix.index }}
    steps:
      - uses: actions/cache/restore@v5
        with:
          path: 100MB.bin
          key: cache-${{ github.run_id }}
      - name: Print cache proxy logs
        if: always()
        run: sudo cat /var/log/cacheproxy.log
