name: Test ubicloud image

on:
  push:
    branches: [ test-docker-cache ]

jobs:
  test:
    name: ${{matrix.runs-on}}
    runs-on: ${{matrix.runs-on}}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubicloud-standard-2-ubuntu-2204
          - ubicloud-standard-2-ubuntu-2404
          - ubicloud-standard-2-arm-ubuntu-2204
          - ubicloud-standard-2-arm-ubuntu-2404
        # index: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50 ]
        index: [1]
    env:
      CACHE_VERSION: ${{ matrix.runs-on }}-${{ matrix.index }}-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - uses: ubicloud/ssh-runner@v1
        with:
          public-ssh-key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMsY2oTeeKCK8pr339MREPlai6bvnlnCX3pvCCBKoJ7c enes@cakir.web.tr"
          wait-minutes: 0
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Create version file trigger fresh cache
        run: |
          echo "Cache version: ${{ env.CACHE_VERSION }}" >> cache-version.txt
      # Metadata checks
      - run: uname -mr
      - run: lsb_release -a
      - run: echo $PATH
      - run: printenv
      - run: df -Th
      - run: free -h
      - run: cat /proc/meminfo

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          cache-to: type=gha,mode=max,scope=${{ env.CACHE_VERSION }}

      - name: create large dummy test file
        run: |
          dd if=/dev/urandom of=cache.bin bs=1M count=256
      - uses: ubicloud/cache/save@v4
        with:
          path: cache.bin
          key: cache-${{ env.CACHE_VERSION }}

      - name: Remove local cache file
        run: rm -f cache.bin
  
      - uses: ubicloud/cache/restore@v4
        with:
          path: cache.bin
          key: cache-${{ env.CACHE_VERSION }}

      - name: Print cache proxy log
        run: sudo cat /var/log/cacheproxy.log
        if: always()
