name: Test ubicloud image

on:
  push:
    branches: [ cpu-benchmark ]

jobs:
  test:
    name: ${{matrix.runs-on}}
    runs-on: ${{matrix.runs-on}}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          # - ubicloud-standard-2-ubuntu-2204
          # - ubicloud-standard-2-ubuntu-2404
          # - ubuntu-latest
          # - ubuntu-22.04
          # - ubuntu-24.04
          - ubicloud-standard-2-arm-ubuntu-2204
          - ubicloud-standard-2-arm-ubuntu-2404
          - ubicloud-standard-2-arm-ubuntu-2204
          - ubicloud-standard-2-arm-ubuntu-2404

    steps:
      - uses: actions/checkout@v4
      - uses: ubicloud/ssh-runner@v1
        with:
          public-ssh-key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMsY2oTeeKCK8pr339MREPlai6bvnlnCX3pvCCBKoJ7c enes@cakir.web.tr"
          wait-minutes: 0
      # Metadata checks
      - name: Check CPU details
        run: lscpu

      - name: Check memory details
        run: free -h

      - name: Check disk details
        run: lsblk
      
      - name: Install passmark
        run: |
          sudo apt-get update
          sudo apt-get install -y libncurses5 || true
          wget "https://www.passmark.com/downloads/PerformanceTest_Linux_ARM64.zip" -O pt.zip
          unzip pt.zip

      - name: Bypass libncurses5 dependency
        if: ${{ contains(matrix.runs-on, '2404') }}
        run: |
          sudo ln -s /usr/lib/aarch64-linux-gnu/libncurses.so.6 /usr/lib/aarch64-linux-gnu/libncurses.so.5
          sudo ln -s /usr/lib/aarch64-linux-gnu/libtinfo.so.6 /usr/lib/aarch64-linux-gnu/libtinfo.so.5
          sudo ldconfig
      
      - name: Run passmark
        run: |
          TERM=xterm ./PerformanceTest/PerformanceTest_Linux_ARM64 -p 2 -d 2 -i 2 -r 1
        
      - name: Retrieve passmark results
        run: cat results_cpu.yml

      
